<div class="app-preloader" id="app-preloader" role="status" aria-label="Загрузка">
  <div class="loader-clock" aria-hidden="true">
    <div class="loader-clock-blob"><div class="loader-shimmer"></div></div>
    <div class="loader-clock-ticks"></div>
    <span class="loader-clock-hand hour" id="loader-hour"></span>
    <span class="loader-clock-hand minute" id="loader-minute"></span>
    <span class="loader-clock-hand second" id="loader-second"></span>
    <span class="loader-clock-center"></span>
  </div>
  <span class="loader-label" id="loader-label">ЗАГРУЗКА…</span>
</div>
